@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Ciudad Guatemala<br />
    Zona 8 de mixco<br />
    <abbr title="Phone">P:</abbr>
    46634804
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">dottogc@yahoo.com</a><br />
</address>
