@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption" role="option">
                <p>
                    Aprendiendo ASP.NET con Google Cloud.
                </p>
            </div>
        </div>
        <div class="item">

            <div class="carousel-caption" role="option">
                <p>
                    Seminario de Sistemas 1.

                </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption" role="option">
                <p>
                    Integracion de Visual Studio con App Engine de Google Cloud.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption" role="option">
                <p>
                    Integrando Visual Studio .NET con Google Cloud.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>DATOS PERSONALES</h2>
        <ul>
            <li>Nombre: 			Domingo Ottoniel Guarchaj Catinac. </li>
            <li>Fecha de Nacimiento:	    	26 de Febrero de 1991. </li>
            <li>DPI, No. de CUI:			2059 78339 0705. </li>
            <li>Carne:				2010-20975 </li>
            <li>Edad:				27 años.  </li>
            <li>Estado Civil:			Soltero.   </li>
            <li>Idioma Materno:		Idioma Maya K’iche’.   </li>
            <li>Segundo Idioma:		Idioma Español. </li>
            <li>Tercer Idioma:			Idioma Ingles.  </li>
            <li>Correo Electrónico:		201020975@ingenieria.usac.edu.gt / dottogc@yahoo.com </li>
            <li>Teléfono:			2212-4914\n  </li>
            <li>Móvil:				4663-8340    /    42367240 </li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>HABILIDADES</h2>
        <ul>
            <li>1.	Facil adaptacion a cualquier lenguaje de programación tanto código puro como utilización de Frameworks. Desde los mas comunes de alto nivel hasta bajo nivel. </li>
            <li>2.	Habilidad en el área de IoT en la programación de microcontroladores y microprocesadores como Arduino, Raspberry, Picaxe.</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>EXPERIENCIAS</h2>
        <ul>
            <li>1.	Desarrollo de proyecto freelance para la empresa de desarrollo CODIGO>GO ayudando a la implementación de mantenimientos para una empresa de seguros, con la utilización de Framework Play de Java junto SQL Server. </li>
            <li>2.	Desarrollo de proyecto freelance para la empresa de desarrollo de software SOFTWARE GLOBAL ayudando a la creación de servicios en la nuve con Php, Mysql y Google Cloud. </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>ESTUDIOS</h2>
        <ul>
            <li>Título Diversificado:		Bachiller en Computación con Orientación   Comercial. </li>
            <li>Título Universitario:		Ingeniería en Ciencias y Sistemas. (7to. Semestre). </li>
            <li>Cursos Libres:			    Rol de la Programación en la Electrónica </li>
            <li>Cursos Libres:		Hardware Libre & Internet de las Cosas.  </li>
            <li>Cursos Libres:		Historia y Evolución de los Microprocesadores.  </li>
            <li>Cursos Libres:		Intro to SQL for Data Science  </li>
            <li>Cursos Libres:		Joining Data in PostgreSQL  </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>LOGROS</h2>
        <ul>
            <li>1.	Primer lugar en competencia de simulación a nivel internacional por el curso de Modelacion y Simulación 2, el cual con el trabajo en grupo el equipo de 4 integrantes incluyéndome representaremos la USAC en el concurso de modelado de una empresa de paneles solares con el software de simulación SIIMIO. </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>REPOSITORIO</h2>
        <ul>
            <li><a href="https://github.com/DottoGC/repoSeminarProject">link</a></li>

        </ul>
    </div>
</div>
